body {
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.navbar {
    padding: 0 4.5rem 0 0;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 3rem;
    font-weight: 400;
}

.nav-item {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0 18px;
}

.container-fluid {
    padding: 3% 15% 7%;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    margin-bottom: 40px;
}

h2 {
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    color: #fff;
}

h3 {
    font-family: "Montserrat-Bold";
    font-weight: bold;
    font-size: 1.5rem;
}

.row {
    margin-top: 60px;
}

.product-device img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

.download-button {
    margin: 5% 3% 5% 0;
}

/*features section */

#features {
    padding: 3% 15%;
    background-color: #fff;
    position: relative;
}


#features p {
    color: #8f8f8f;
}

.features-card {
    text-align: center;
    padding: 5%;
}

.features-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.features-icon:hover {
    color: #ff4c68;
}

#testimonials {
    background-color: #ef8172;
    text-align: center;
}

.testimonial-image {
    width: 100px;
    border-radius: 50%;
    margin: 10px;
}

.carousel-item {
    padding: 5% 10%;
}

.carousel-item h2 {
    font-family: "Montserrat-Bold";
    color: #fff;
    font-size: 3rem;
}

#press {
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 10px 30px;
}

#pricing h1, h2, h3, p {
    font-family: "Montserrat-Bold";
    color: black;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3%;
}

#cta {
    background-color: #ef8172;
    text-align: center;
    padding: 5% 15%;
}

#cta h3 {
    font-family: "Montserrat-Black";
    color: #fff;
    font-size: 3rem;
}

#footer {
    background-color: #fff;
    text-align: center;
    padding: 5% 15%;
}

#footer p {
    color: #8f8f8f;
}

.footer-link {
    margin: 1%;
}

@media (max-width: 1028px) {
    .product-device img {
        position: static;
        transform: rotate(0deg);
    }
    #title {
        text-align: center;
    }
}