body {
    font-family: "Montserrat";
    text-align: center;
}

/* font styles */

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
}

/* headings */

.big-heading {
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading {
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 700;
}

.container-fluid {
    padding: 7% 15%;
}

/* title & navbar section */

.navbar {
    padding: 0 4.5rem 0 0;
    margin-bottom: 3%;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 3rem;
    font-weight: 400;
}

.nav-item {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0 18px;
}

#title {
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}

#title .container-fluid {
    padding: 1% 15% 3%;
}

.product-device img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

.download-button {
    margin: 5% 3% 5% 0;
}

/* features section */

#features {
    background-color: #fff;
    position: relative;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: bold;
}

#features p {
    color: #8f8f8f;
}

.features-card {
    padding: 5%;
}

.features-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.features-icon:hover {
    color: #ff4c68;
}

/* testimonials, press & carousel */

#testimonials {
    background-color: #ef8172;
}

.testimonial-image {
    width: 100px;
    border-radius: 50%;
    margin: 10px;
}

.testimonial-text {
    color: #fff;
    line-height: 1.5;
    font-size: 2.5rem;
    font-weight: 700;
}

#press {
    background-color: #ef8172;
}

.press-logo {
    width: 15%;
    margin: 0 10px 30px;
    padding-bottom: 3%;
}

/* pricing section */

.card-header {
    background-color: #ef8172;
    color: #fff;
    
}

.card-header-text {
    font-size: 2rem;
    font-weight: 600;
}

.price-text {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold;
}


.pricing-column {
    padding: 2%;
}

/* cta section */

#cta {
    background-color: #ef8172;
    color: #fff;
}

/* footer and social links section */

#footer {
    background-color: #fff;
}

#footer p {
    color: #8f8f8f;
}

.footer-link {
    margin: 1%;
}

@media (max-width: 1028px) {
    .product-device img {
        position: static;
        transform: rotate(0deg);
    }
    #title {
        text-align: center;
    }
    .navbar {
        padding: 0 0 0 0;
    }
}